<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
<script src="/javascripts/jquery.min.js"></script>
<div class="container">
    {{{body}}}
</div>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
